@model PROJECT_IDENTIFIER.Components.Navigation.FooterViewModel

<footer data-ktc-search-exclude>

    <nav>
        <ul>
            <li><a href="/privacy">Privacy</a></li>
            <li><a href="/cookies-policy">Cookies policy</a></li>
        </ul>
    </nav>

    <p>Copyright &copy; 2004-@DateTime.Now.Date.ToString("yyyy", View.Culture)</p>

</footer>