<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- <add key="YOUR_INTERNAL_LIBRARIES" value="https://pkgs.dev.azure.com/YOUR_ORG/_packaging/your-project/nuget/v3/index.json" /> -->
  </packageSources>
  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <!-- <packageSource key="YOUR_INTERNAL_LIBRARIES">
      <package pattern="YOUR_ORG_PACKAGE_PREFIX.*" />
    </packageSource> -->
  </packageSourceMapping>
</configuration>
